@custom-media --breakpoint-medium screen and (min-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   BORDER RADIUS

   Base:
     br   = border-radius

   Modifiers:
     1    = 1st step in scale
     2    = 2nd step in scale
     -100 = 100%


   Media Query Extensions:
     -m  = medium
     -l  = large

*/

  .br1 {        border-radius: .125rem; }
  .br2 {        border-radius: .25rem; }
  .br-100 {     border-radius: 100%; }

