/*

   FONT FAMILY GROUPS

*/


.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.serif {
  font-family: georgia, times, serif;
}

/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
.mono {
  font-family: consolas,
               monaco,
               monospace;
}
