@custom-media --breakpoint-medium screen and (min-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   LETTER SPACING

*/

.tracked       { letter-spacing:  .1em; }


@media (--breakpoint-medium) {
  .tracked-m       { letter-spacing:  .1em; }
}

@media (--breakpoint-large) {
  .tracked-l       { letter-spacing:  .1em; }
}
