/*

    OVERFLOW

 */

.oh { overflow: hidden; }
.scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }

.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }


