/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

*/


/*

   SKINS

*/




/* Text colors */

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }


.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.black {         color: var(--black); }
.near-white {    color: var(--near-white); }
.white {         color: var(--white); }

