@custom-media --breakpoint-medium screen and (min-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   WHITE SPACE

*/


.nowrap { white-space: nowrap; }
.pre { white-space: pre; }


@media (--breakpoint-medium) {
  .nowrap-m { white-space: nowrap; }
  .pre-m { white-space: pre; }
}

@media (--breakpoint-large) {
  .nowrap-l { white-space: nowrap; }
  .pre-l { white-space: pre; }
}

