@custom-media --breakpoint-medium screen and (min-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   WIDTHS

   Base:
     w = width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale

     -25  = literal value 25%
     -50  = literal value 50%
     -75  = literal value 75%
     -100 = literal value 100%

     -auto  = string value auto


   Media Query Extensions:
     -m  = medium
     -l  = large

*/

/* Width Scale */

.w1 {    width: 1rem; }
.w2 {    width: 2rem; }
.w3 {    width: 4rem; }
.w4 {    width: 8rem; }
.w5 {    width: 16rem; }

.w-25 {  width:  25%; }
.w-50 {  width:  50%; }
.w-75 {  width:  75%; }
.w-100 { width: 100%; }

.w-auto { width: auto; }

@media (--breakpoint-medium) {
  .w-25-m { width:  25%; }
  .w-50-m { width:  50%; }
  .w-75-m { width:  75%; }
  .w-100-m { width: 100%; }
  .w-auto-m {    width: auto; }
}

@media (--breakpoint-large) {
  .w-25-l {    width:  25%; }
  .w-50-l {    width:  50%; }
  .w-75-l {    width:  75%; }
  .w-100-l {   width: 100%; }
  .w-auto-l {    width: auto; }
}
